button.button.button-royal.margin-align {
    margin-top: 55px;
}
.margin-top-55{

	margin-top: 50px;
	font-size: 30px;
    color: wheat;
    margin-bottom: 30px;
}
.login-top{
	margin-top: 30%;
}
.recuerda-title{

	margin-top: 70px;
	font-family: Giddyup Std;
	font-size: 70px;

}
.col.loginOrSignup{
	font-family: Myriad Pro;
	font-size: 20px;
}

button.button.button-block.button-royal.button-login
{
background-color: #c4e68c;
color:#464646;
border-color:#c4e68c;
}
.col.textdecoration a{
	text-decoration: none;
	color: white;
}
button.button.button-block.button-royal.button-facebook{
	color: white;
	background-color: #3c599f;
}
input.userimage{
	background-image: url("../img/user.png");
	background-repeat: no-repeat;
	background-color: #82a15e;
	 padding-left: 70px;
}
input.passwordimage{
	background-image: url("../img/password.png");
	background-repeat: no-repeat;
	background-color: #82a15e;
	 padding-left: 70px;
}
.col.registrationTitle{
	margin-top: 70px;
	font-size: 20px;
}
input.emailimage{
	background-image: url("../img/email.png");
	background-repeat: no-repeat;
	background-color: #82a15e;
	 padding-left: 70px;
}
