<ion-view title={{pageTitle}}>
	<ion-content class="login-page">
		<div class="ion-content ">
			
			<div class="row">
			  <div class="col"></div>
			  <div class="col login-page-title">Recuerda</div>
			  <div class="col"></div>
			</div> 
			<br>
			<br>
			<div class="row button-margin">
				<div class="col"></div>
				<div class="col"><button class="button button-block button-royal"ng-click="Login.LoginFun()">
  				Login
				</button>
			</div>
			 <div class="col"></div>
			</div>	
			<div class="row">
				<div class="col"></div>
				<div class="col" > <button class="button button-block button-royal" ng-click="Login.SignUp()" >
  				signup
				</button>
			</div>
			 <div class="col"></div>
			</div>	
		</div>

	</ion-content>
</ion-view>