<ion-view title={{pageTitle}}>
	<ion-content class="login-page">
		<div class="ion-content">
			<div class="row">
				<div class="col"></div>
				<div class="col-90">
					
					<div class="row">
						<div class="col">
							<hr width="70%">
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="list" >
								<label class="item item-input">
									<input type="text" ng-model="Login.reg_num" placeholder="Register Number">
								</label>
								<br>
								<label class="item item-input">
									<input type="password" ng-model="Login.password" placeholder="Password">
								</label>
							</div>
						</div>
					</div>
					<div class="row" ng-if="Login.incorrectLoginMessage">
						<div class="col">
							<div>
								<span class="login-error-message">{{Login.incorrectLoginMessage}}</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div>
								<button class="button button-block button-positive" ng-click="Login.authenticateUser()">Submit</button>
							</div>
							<div>
								<a class="forgot-password-link cursor-pointer" href="#/forgot-password"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>