<ion-view title={{pageTitle}}>
	<ion-content class="login-page">
		<div class="ion-content ">
			
			<div class="row">
			  <div class="col"></div>
			  <div class="col login-page-title">Recuerda</div>
			  <div class="col"></div>
			</div> 
			<br>
			<br>
			<div class="row">
			  <div class="col-20"></div>
			  <div class="col">
			  	<input type="text" ng-model="Login.currentUser.email"  placeholder="username"></input>
			  	<br>
			  	<input type="password" ng-model="Login.currentUser.password" placeholder="password"></input>
			  </div>
			  <div class="col-20"></div>
			</div> 
			<div class="row button-margin login-top">
			  <div class="col-20"></div>
			  <div class="col">
			  	<div class="row">
			  		<div class="col"></div>
			  		<div class="col">
			   			<button class="button button-block button-royal"ng-click="Login.LoginFun()">Login</button>
			 		</div>
			 		<div class="col"></div>
			 	</div>
			  </div>
			  <div class="col-20"></div>
			</div>	
			<div class="row">
				<div class="col-20"></div>
				<div class="col" > 
					<div class="row">
			  			<div class="col"></div>
			  			<div class="col">
							<button class="button button-block button-royal" ng-click="Login.SignUp()" >signup</button>
			   			</div>
			   			<div class="col"></div>
			   		</div>
			   	</div>
			 <div class="col-20"></div>
			</div>	
		</div>

	</ion-content>
</ion-view>