<ion-view title={{pageTitle}}>
	<ion-content>
		<div class="ion-content dashboard">
			<div class="row">
				<div class="col">
				</div>
				<div class="col-50">
					<div class="row">
						<div class="col">
							<input type="password" class="full-width placement-inputs" placeholder="Old Password" ng-model="ChangePassword.oldPassword"/>
						</div>
					</div>

					<div class="row">
						<div class="col">
							<input type="number" class="full-width placement-inputs" placeholder="New Password" ng-model="ChangePassword.newPassword1"/>
						</div>
					</div>

					<div class="row">
						<div class="col">
							<input type="number" class="full-width placement-inputs" placeholder="Confirm Password" ng-model="ChangePassword.newPassword2"/>
						</div>
					</div>

					<div class="row">
						<div class="col align-center">
							<button class="placement-button" ng-click="ChangePassword.changePassword()">ADD</button>
						</div>
					</div>
				</div>
				<div class="col">
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>