<ion-view title={{pageTitle}}>
	<ion-content>
		<div class="ion-content dashboard">
			<div ng-if="!HomePage.companiesFound" class="no-company-text">
				Your are not eligible for any company
			</div>
			<div ng-if="HomePage.companiesFound" ng-repeat="company in HomePage.companies" class="each-company"> 
				<div class="row">
					<div class="col">Company Name
					</div>
					<div class="col">{{company.c_name}}
					</div>
				</div>
				<div class="row">
					<div class="col">Website
					</div>
					<div class="col">{{company.website}}
					</div>
				</div>

				<div class="row">
					<div class="col">Phone Number
					</div>
					<div class="col">{{company.phone_no}}
					</div>
				</div>

				<div class="row">
					<div class="col">Email id
					</div>
					<div class="col">{{company.email_id}}
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>