<ion-view>
	<ion-side-menus>
		<ion-side-menu side="left" style="overflow:scroll !important;">
			<!-- <div class="row header-first-row">
				<div class="col">
					<div class="slide-menu-user-name">
					</div>
				</div>
				
				<div nav-clear menu-close class="col-15 cursor-pointer absolute-right-10 margin-top-10"><a href="index.html#/settings"></a>
				</div>
			</div> -->
			<div class="header-side-menu-scroll"  side-menu-height>
				<ion-item nav-clear menu-close href="index.html#/dashboard" class="no-padding">
					<!-- <div class="icon-circle"> <img class="side-menu-icons" ng-src="img/icons/{{items.icon}}.png"></div><span>one</span>  -->
					<div class="placement-slide-menu">Home</div>					
				</ion-item>

				<ion-item nav-clear menu-close href="index.html#/profile" class="no-padding">
					<div class="placement-slide-menu">Profile</div>					
				</ion-item>

				<ion-item nav-clear menu-close href="index.html#/acadamicdetails" class="no-padding">
					<div class="placement-slide-menu">Academic details</div>
				</ion-item>

				<ion-item nav-clear menu-close href="index.html#/changePassword" class="no-padding">
					<div class="placement-slide-menu">Change Password</div>
				</ion-item>

				<ion-item nav-clear menu-close href="index.html#/interviewTips" class="no-padding">
					<div class="placement-slide-menu">Interview Tips</div>
				</ion-item>

				<ion-item nav-clear menu-close href="index.html#/mockTest" class="no-padding">
					<div class="placement-slide-menu">Mock Test</div>
				</ion-item>

				<ion-item nav-clear menu-close href="index.html#/mockResult" class="no-padding">
					<div class="placement-slide-menu">Mock Scores</div>
				</ion-item>

				<ion-item nav-clear menu-close href="index.html#/faq" class="no-padding">
					<div class="placement-slide-menu">FAQ</div>
				</ion-item>

				<ion-item nav-clear menu-close href="index.html#/feedBack" class="no-padding">
					<div class="placement-slide-menu">Feedback</div>
				</ion-item>

				<ion-item nav-clear menu-close href="index.html#/notification" class="no-padding">
					<div class="placement-slide-menu">Notifications</div>
				</ion-item>

				<ion-item nav-clear menu-close href="" class="no-padding" ng-controller="LogoutController as Logout">
					<div class="placement-slide-menu" ng-click="Logout.logoutNow()">Logout</div>
				</ion-item>

				<!-- <ion-item nav-clear menu-close ng-click="Header.logout()" class="padding-10">
					<div class="icon-circle no-margin-right"> <img class="side-menu-icons" ng-src="img/icons/logout-icon.png"></div><span class="logout-icon" translate="LOGOUT.PAGE_TITLE"></span> 
				</ion-item> -->
			</div>
			<!-- <div class="row">
				<div class="col side-menu-logo-box">
					<img class="side-menu-logo" src="img/hirs-logo.png"/>
				</div>
			</div> -->
		</ion-side-menu>
		<!-- Main content -->
		<ion-side-menu-content>		
			<ion-nav-bar class="bar-stable nav-title-slide-ios7">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="{{Header.menuAlignment}}"></button>
				<div class="h1 title"></div>
				<ion-nav-buttons side="{{Header.filterAlignment}}">
					<a class="description" href="#/food/search" ng-if="currentState.name=='add-food'">
						<div class="icon ion-search">
						</div>
					</a>
				</ion-nav-buttons>
			</ion-nav-bar>
				<ion-nav-view class="ios-top-padding" name="menuContent"></ion-nav-view>
		</ion-side-menu-content>
	</ion-side-menus>
</ion-view>