<ion-view title={{pageTitle}}>
	<ion-content>
		<div class="ion-content dashboard">
			<div ng-if="!MockTest.examStarted">
				<div class="row">
					<div class="col">
						Rules
					</div>
				</div>
				<div class="each-rule">
					1) You will be given 30 seconds for each quiwstion
				</div>
				<div class="each-rule">
					2) Each question carries 4 marks
				</div>
				<div class="row">
					<div class="col align-center extra-margin-top">
						<button class="placement-button" ng-click="MockTest.startExam()">START</button>
					</div>
				</div>
			</div>
			<div ng-if="MockTest.examStarted && !MockTest.showscorecard">
				<div class="each-question" ng-repeat="examQuestion in MockTest.examQuestions">
					<div class="row">
						<div class="col each-question">{{$index + 1}} ) {{examQuestion.question}}
						</div>
					</div>
					<div class="row">
						<div class="col"><input type="checkbox" ng-model="examQuestion.option1Selected" ng-click="MockTest.selectAnswer(examQuestion,1, examQuestion.option1)"> <span class="each-answer">{{examQuestion.option1}}</span>
						</div>
						<div class="col"><input type="checkbox" ng-model="examQuestion.option2Selected" ng-click="MockTest.selectAnswer(examQuestion,2, examQuestion.option2)"> <span class="each-answer">{{examQuestion.option2}}</span>
						</div>
					</div>

					<div class="row">
						<div class="col"><input type="checkbox" ng-model="examQuestion.option3Selected" ng-click="MockTest.selectAnswer(examQuestion,3, examQuestion.option3)"> <span class="each-answer">{{examQuestion.option3}}</span>
						</div>
						<div class="col"><input type="checkbox" ng-model="examQuestion.option4Selected" ng-click="MockTest.selectAnswer(examQuestion,4, examQuestion.option4)"> <span class="each-answer">{{examQuestion.option4}}</span>
						</div>
					</div>
				</div>
			</div>
			<div ng-if="MockTest.examStarted && !MockTest.showscorecard">
				<div class="col align-center extra-margin-top">
					<button class="placement-button" ng-click="MockTest.finishExam()">FINISH</button>
				</div>
			</div>

			<div class="score-sheet" ng-if="MockTest.showscorecard">
				<div class="row">
					<div class="col">No of right aswers
					</div>
					<div class="col"> {{MockTest.rightAnswerCount}}
					</div>
				</div>
				<div class="row">
					<div class="col">No of wrong aswers
					</div>
					<div class="col"> {{MockTest.wrongAnswerCount}}
					</div>
				</div>
				<div class="row">
					<div class="col">Total score
					</div>
					<div class="col"> {{MockTest.totalMark}}
					</div>
				</div>
				<div class="row">
					<div class="col align-center">
						<button class="placement-button" ng-click="MockTest.goHome()">HOME</button>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>