<ion-view title={{pageTitle}}>
	<ion-content>
		<div class="ion-content dashboard">
			<div ng-repeat="notification in Notification.notifications" class="each-company">
				<div class="row">
					<div class="col font-size-18">
						{{notification.title}}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{notification.date}}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{notification.message}}
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>