<ion-view title={{pageTitle}}>
	<ion-content>
		<div class="ion-content dashboard">
			<div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<div class="row">
				<div class="col">User Name
				</div>
				<div class="col">{{Profile.userDetails.name}}
				</div>
			</div>

			<div class="row">
				<div class="col">Branch
				</div>
				<div class="col">{{Profile.userDetails.branch}}
				</div>
			</div>

			<div class="row">
				<div class="col">Semester
				</div>
				<div class="col">{{Profile.userDetails.semester}}
				</div>
			</div>

			<div class="row">
				<div class="col">Registeration Number
				</div>
				<div class="col">{{Profile.userDetails.register_no}}
				</div>
			</div>

			<div class="row">
				<div class="col">10th Percentage
				</div>
				<div class="col">{{Profile.userDetails.percent_10}}
				</div>
			</div>

			<div class="row">
				<div class="col">12th Percentage
				</div>
				<div class="col">{{Profile.userDetails.percen_12}}
				</div>
			</div>

			<div class="row">
				<div class="col">Btech Percentage
				</div>
				<div class="col">{{Profile.userDetails.btech_percentage}}
				</div>
			</div>

			<div class="row">
				<div class="col">Supply
				</div>
				<div class="col">{{Profile.userDetails.supply}}
				</div>
			</div>

			<div class="row">
				<div class="col">Phone Number
				</div>
				<div class="col">{{Profile.userDetails.phone_no}}
				</div>
			</div>

			<div class="row">
				<div class="col">Email Id
				</div>
				<div class="col">{{Profile.userDetails.email_id}}
				</div>
			</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>