<ion-view title={{pageTitle}}>
	<ion-content class="">
		<div class="ion-content ">
			
			<div class="row">
			  <div class="col"></div>
			  <div class="col login-page-title">Add Your Task</div>
			  <div class="col"></div>
			</div> 
			<div class="row">
			  
			  <div class="col spacecol"><input type="text" placeholder="Your Task Name"></div>
			 
			</div> 
			<div class="row">
			  <div class="col"></div>
			  <div class="col spacecol"><button class="button button-small button-calm">
  					choose a date
					</button>
				<div class="col"></div>
			</div>
			  <div class="col"></div>
			</div> 
			<div>
			<div class="row">
				<div class="col">
 			 	<i class="ion-low"></i>
 				 <input type="range" name="volume">
			  <i class="icon ion-high"></i>
			</div>
			</div>

	</div>
		<div class="row">
			 <div class="col"></div>
				<div class="spacecol"><textarea rows="4" cols="50"></textarea></div>
			<div class="col"></div>
		</div>
		<div class="row">
			  <div class="col"></div>
			   
				<div class="col spacecol">
				<button class="button button-small button-positive">
  				Small Button
				</button>
				 </div>
				 <div class="col"></div>
				
		</div>
	</div>
	</ion-content>
</ion-view>