<ion-view title={{pageTitle}}>
	<ion-content class="">
		<div class="ion-content">
			<div class="row">
			  <div class="col"></div>
			  <div class="col settings-page-title">Settings</div>
			  <div class="col"></div>
			</div>

			<div class="row">
			  <div class="col">
			  	<ul class="list">

  					<li class="item item-toggle">
    				 Keep logged in
    				<label class="toggle toggle-assertive">
      				<input type="checkbox">
       				<div class="track">
         			<div class="handle"></div>
      			 	</div>
    				</label>
				    </li>
				    <li class="item item-toggle">
    				 Showing notification bar
    				<label class="toggle toggle-assertive">
      				<input type="checkbox">
       				<div class="track">
         			<div class="handle"></div>
      			 	</div>
    				</label>
    				<li class="item item-toggle">
    				Logout from other device<button class="button button-positive">ok</button>
   				    </li>
				    
				</ul>
			  </div>
			  
			</div>
			
  					
				
			  
			  
	



			


		</div>
	</ion-content>
</ion-view>