<ion-view title={{pageTitle}}>
	<ion-content class="settings-page">
		<div class="ion-content">
			<div class="row">
			  <div class="col"></div>
			  <div class="col settings-page-title">Settings</div>
			  <div class="col"></div>
			</div>

			<div class="row">
			  <div class="col">
			  	<ul class="list">

  					<li class="item item-toggle">
    				 KEEP LOGGED IN
    				<label class="toggle toggle-assertive">
      				<input type="checkbox">
       				<div class="track">
         			<div class="handle"></div>
      			 	</div>
    				</label>
				    </li>
				    <li class="item item-toggle">
    				 SHOWING NOTIFICATION BAR
    				<label class="toggle toggle-assertive">
      				<input type="checkbox">
       				<div class="track">
         			<div class="handle"></div>
      			 	</div>
    				</label>
				    </li>
				    <li><button class="button button-block button-royal">ok</button>
				   </li>
				</ul>
			  </div>
			  
			</div>
			
  					
				
			  
			  
	



			


		</div>
	</ion-content>
</ion-view>