<ion-view title={{pageTitle}}>
	<ion-content class="logs-page">
		<div class="ion-content">
			

			<div class="row">
			  <div class="col"></div>
			  <div class="col ">
			  <button ng-click="Logs.reminderClicked()">Reminder</button>
			  <button ng-click="Logs.tasksClicked()">Tasks</button>
			  </div>
			  <div class="col"></div>
			</div>

            

            	<ul class="list" ng-repeat="item in Logs.allItems">
    				<li class="item">
    					<div class="row">

      						<div class="col-33">{{item.name}}</div>
      						<div class="col-33">{{item.date}}</div>
      						<div class="col-33">{{item.status}}</div>
      					</div>
   				 	</li>
				</ul>
			

		</div>
	</ion-content>
</ion-view>