<ion-view title={{pageTitle}}>
	<ion-content class="viewtask-page">
		<div class="ion-content">
			<div class="row">
			    <div class="col-80">Time Left</div>
			    <div class="col">:1 day </div>
			</div>
			    <div class="row">
			    <div class="col align-center">Don't late</div>
			</div>
			    <div class="row">
         		    <div class="col float-left">
         			<button class="button icon-left ion-edit button-large button-positive" > EDIT
         			</button> 
         		</div>
         		    <div class="col float-right">
         			<button class="button icon-left ion-trash-b button-large button-positive" > CANCEL
         			</button> 
         		</div>
         	</div>
	 	 </div>
	</ion-content>
</ion-view><!-- <div class="row">
				<div class="col">
			  		<button class="button button-small button-positive">EDIT </button>
				</div>
				
				<div class="col">