<ion-view title={{pageTitle}}>
	<ion-content class="login-page">
		<div class="ion-content ">
			
			<div class="row">
			  <div class="col"></div>
			  <div class="col login-page-title">PROFILE</div>
			  <div class="col"></div>
			</div> 
			<br>
			<br>
			<div class="row">
				<div class="col-50">UserName</div>
				<div class="col-50">
					<input type="text"></input>
				</div>
				<br>
				<br>
				<br>
			</div>
			<div class="row">
				<div class="col-50">Email id</div>
				<div class="col-50">
					<input type="text"></input>
				</div>
			</div>
		</div>

	</ion-content>
</ion-view>