<ion-view title={{pageTitle}}>
	<ion-content class="viewtask-page">
		<div class="ion-content">
			<div class="row">
				<div class="col"></div>
			  <div class="col-10 margin-top"><img src="img/clock.png"/></div>
			  <div class="col-30 margin-top-45">Time Left:2 days</div>
			</div>
			<div class="row color-change">
				<div class="col-10"></div>
			  <div class="col">
			  	<div class="row color-white">BUY APPLE</div>
			  	Sed a libero. Fusce risus nisl, viverra et, tempor et, pretium in, sapien. Pellentesque ut neque. Aenean vulputate eleifend tellus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
			  Fusce ac felis sit amet ligula pharetra condimentum. Donec sodales sagittis magna. Praesent nec nisl a purus blandit viverra. 

              Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus. Curabitur ullamcorper ultricies nisi.Maecenas malesuada. Nullam vel sem. Etiam vitae tortor. Quisque ut nisi. Etiam sit amet orci eget eros faucibus tincidunt.Sed a libero. Fusce risus nisl, viverra et, tempor et, pretium in, sapien. Pellentesque ut neque. Aenean vulputate eleifend tellus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.

			</div>
			<div class="col-10"></div>
			</div>
			<br>
			<br>
			<div class="row">
				<div class="col-10"></div>
				<div class="col">
			  		<button class="button icon-left ion-edit button-block button-small button-calm  button-radius">EDIT </button>
				</div>
				<div class="col button-radius button-radius">
			  		<button class="button ion-checkmark-round button-block button-small button-balanced button-radius">COMPLETE </button>
				</div>
				<div class="col button-radius">
			  		<button class="button icon-left ion-trash-b button-block button-small button-assertive button-radius">DELETE </button>
				</div>
				<div class="col-10"></div>
			</div>
		</div>
	</ion-content>
</ion-view>