<ion-view title={{pageTitle}}>
	<ion-content class="viewtask-page">
		<div class="ion-content">
			<div class="row">
			  <div class="col-80">Time Left</div>
			  <div class="col">:2 days</div>
			</div>
			<div class="row">
			  <div class="col align-center">Description of the task will be displyed here</div>
			</div>
			<br>
			<br>
			<div class="row">
				<div class="col">
			  		<button class="button icon-left ion-edit button-small button-positive">EDIT </button>
				</div>
				<div class="col">
			  		<button class="button ion-checkmark-round button-small button-positive">COMPLETE </button>
				</div>
				<div class="col">
			  		<button class="button icon-left ion-trash-b button-small button-positive">DELETE </button>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>