<ion-view title={{pageTitle}}>
	<ion-content class="">
		<div class="ion-content  ">
			<div class="row margin-top-55">
			  <div class="col"></div>
			  <div class="col registration-page-title">REGISTRATION</div>
			  <div class="col"></div>
			</div>
			<div class="row margin-bottom-15">
				<div class="col"></div>
				<div class="col">
				<input type="text"  ng-model="Registration.newUser.email" placeholder="Email Address">
                </div>
                <div class="col"></div>
			</div>
			<div class="row margin-bottom-15">
				<div class="col"></div>
				<div class="col">
				<input type="password" ng-model="Registration.newUser.password"  placeholder="Password">
                </div>
                <div class="col"></div>
			</div>
			<div class="row margin-bottom-15">
				<div class="col"></div>
				<div class="col">
				<input type="password" ng-model="Registration.confirmPassword"  placeholder=" Confirm Password">
                </div>
                <div class="col"></div>
			</div>
			<div class="row">
				<div class="col"></div>
				<div class="col">
				<button class="button button-royal button-block" ng-click="Registration.addNewUser()">
                 submit
                </button>
                </div>
                <div class="col"></div>
			</div>
		</div>
	</ion-content>
</ion-view>